.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 50px;
    padding: 1%;
    text-align: center;
}
.portraitImage {
    width: 200px;
    height: 200px;
}
.header {
    width: 73%;
    padding: 1%;
}
.navigation {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.footer {
    background-color: #373738;
    padding: 5%;
}
.ul {
    vertical-align: top;
    padding: 2%;
    height: 100px;
    width: 20%
}
.flexContainer {
    display: flex;
    flex-direction: row;
}
.col {
    width: 33%;
}
.cue {
    width: 75px;
    height: 75px;
}
.pcos {
    width:75px;
    height: 75px;
}
.workGrid {
    display: grid;
    grid-template-rows: 100px 300px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "grid-item1 grid-item2"
    "grid-item3 grit-item4"
}
@media only screen and (max-width: 600) {
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .workGrid {
        display: grid;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: auto;
        grid-template-areas: 
        "grid-item1"
        "grid-item2"
        "grid-item3"
        "grit-item4"
    }
}